# Node modules
node_modules/

# Expo / React Native / build artifacts
.expo/
.expo-shared/
web-build/
ios/build/
android/build/

# Environment variables
.env*
.env.local

# Editor / system files
.DS_Store
/*.log
